*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

body{
    background: #ECE6C2;
    font-family: 'Quicksand', sans-serif;
}

.container{
    position: relative;
    display: flex;
    min-height: 100vh;
    align-items: center;
    width: min(100% - 15px,840px);
    justify-content: center;
    flex-direction: row;
    padding: 0 10px;
    margin-inline: auto;
    gap: 30px;

    @media (max-width: 767.98px) {
        flex-direction: column;
    }
}

.info{
    .title{
        font-weight: 700;
        margin-bottom: 0;
    }
    .description{
        margin-bottom: 0;
    }
    @media (max-width: 767.98px) {
        text-align: center;
    }
}

.form{
    display: flex;
    flex-direction: column;

    background: #ECE6C2;
    border: 2px solid #000000;
    padding: 1rem;
    width: 900px;
    box-shadow: 3px 5px #000000;
    border-radius: 5px;

    label{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 1rem;
        font-weight: 500;

        small{
            margin-top: 3px;
            color: #282512;

            &.error{
                color: #EC575B;
            }
        }
    }

    input[type="text"]{
        padding: 6px 10px;
        font-size: 16px;
        background: #ECE6C2;
        border: 1.5px solid #000000;
        box-shadow: 0 5px #000000;
        border-radius: 5px;
        font-weight: 400;

        &:focus{
            outline: none;
        }

        &::placeholder{
            color: #000000b1;
        }
    }

    textarea{
        padding: 6px 10px;
        font-size: 16px;
        background: #ECE6C2;
        border: 1.5px solid #000000;
        box-shadow: 0 5px #000000;
        border-radius: 5px;
        font-weight: 400;
        height: 80px;

        &:focus{
            outline: none;
        }

        &::placeholder{
            color: #000000b1;
        }
    }

    button{
        background: #73BDA8;
        padding: 5px 10px;
        font-size: 16px;
        font-weight: 500;
        box-shadow: 0 5px #000000;
        border-radius: 5px;
        border: 1.5px solid #000000;
        cursor: pointer;
        display: block;

        &.waiting{
            cursor: not-allowed;
        }
    }

    @media (max-width: 767.98px) {
        width: 90%;
        margin-bottom: 3rem;
    }
}

.modal{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: absolute;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    content: "";
    width: auto;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-inline: auto;
    animation: fade 0.2s ease-out;

    .modal-content{
        position: relative;
        background: #ECE6C2;
        width: 40%;
        padding: 1rem;
        border-radius: 10px;
        text-align: center;
        animation: zoom .5s cubic-bezier(0.34, 1.56, 0.64, 1);

        h1,p{
            margin-bottom: 0;
        }

        .modal-close{
            position: absolute;
            top: 0;
            right: 0;
            button{
                background: none;
                padding: .5rem;
                cursor: pointer;
                border: none;

                svg{
                    width: 30px;
                    height: auto;
                }
            }
        }
    }
}

@keyframes zoom {
    from {
        transform: scale(0.95);
    }
    to {
        transform: scale(1);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}